html, h1, body{
	font: 14pt Helvetica-Bold;
	background: url('bg.png');
	background-color: #CCE6CC;
}

h1{
	font-size: 2em;
	color: blue;
}

h2 {
	color: green;
}

table{
	border: 2px #38BBE6 solid;
    border-radius: 10px;
	background-color: rgba(178, 217, 178, 0.2);
    padding: 20 300 20 300px;
}

table:hover {
	background-color: rgba(178, 217, 178, 0.5);
}

tr{
	background-color: white;
}

td{
	background: #DDDAAA;
	padding: 10 20 10 20px;
}

th{
	background: lightblue;
	padding: 10 20 10 20px;
}
